/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#modalTitle {
    color: #003366;
    margin-top: 0;
}

#successModalTitle {
    color : #5cb85c;
    margin-top : 0;
}

#modalSubdescription {
    color: #003366;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* The Close Button in the top-right corner */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#closeModalFooterBtn {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
}

#closeModalFooterBtn:hover {
    background-color: #138496;
}

#closeSuccessModalFooterBtn {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;    
}

#closeSuccessModalFooterBtn:hover {
    background-color: #138496;
}